<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/apos-frontend/default/apos-bundle.css" rel="stylesheet"/>
    <title>My Amazing Todo-app </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org@1.9.6"
            integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
            crossorigin="anonymous"></script>
</head>

<div>
    <h1>Todo List</h1>
    <form hx-post="/tasks/add"
          hx-target="#todolist"
          hx-swap-oob="beforeend transition:true"
    >
        <input type="text" name="task"/>
        <input type="submit" value="Add Task"/>
        <input type="submit" value="Add Task"/>

    </form>
    <div>
        <ul id="todolist">
            {% for task in tasks %}
            <li>{{ task }}</li>
            {% endfor %}
        </ul>
    </div>
</div>