<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Amazing Todo-app </title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org@1.9.6"
            integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
            crossorigin="anonymous"></script>

</head>

<div class="bg-fourthiary items-center ">
    <h1 class="bg-primary text-white text-7xl 
    text-center 
    max-w-screen-xl
    bg-origin-padding 
    ml-auto
    mr-auto
    py-8
    font-bold
    " >Todo List</h1>

    <form 
        class="add-task-form"
        hx-post="/tasks/add"
        hx-target="#pending-list"
        hx-swap="beforeend transition:true"
    >
        <input class="task-input" type="text" name="name"/>
        <input class="
        min-w-[100px]
        max-w-lg
        bg-tierciary
        text-white
        justify-self-center
        hover:bg-fourthiary hover:text-black
        transition-colors
        rounded-md

        "
        type="submit" value="Add"/>

    </form>
    {% include "tasks.html" %}
</div>




