<div id="todolist"
     class="
    task-dashboard
    "
>
        <ul
                id="pending-list"
                class="task-list         
        "
        >
            <h2 class="text-center">Pending</h2>
            {% for task in tasks %}
            {% if task.status == TaskStatus::Pending %}
            {% include "task.html" %}
            {% endif %}
            {% endfor %}


        </ul>

        <ul
                id="completed-list"
                class="task-list      "
        >
            <h2 class="text-center">Completed</h2>
            {% for task in tasks %}
            {% if task.status == TaskStatus::Completed %}
            {% include "task.html" %}
            {% endif %}
            {% endfor %}

        </ul>
</div>