<div id="modal" class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{ task.name }}</h5>
        </div>
        <div class="modal-body">
            <p>{{ task.description }}</p>
        </div>
        <div class="modal-footer">


            {% if task.status == TaskStatus::Pending %}
            {% include "buttons/complete-task_btn.html" %}

            {% else if task.status == TaskStatus::Completed %}
            {% include "buttons/pend-task_btn.html" %}
            {% endif %}

            {% include "buttons/delete-task_btn.html" %}

            <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
        </div>
    </div>
</div>

<script>
    function closeModal() {
        const modal = document.getElementById('modal');
        modal.classList.add('closing');
        modal.remove();
    }
</script>