<div id="todolist">

    <table><caption>Pending Tasks</caption>
        <thead>
        <tr>
            <th>Task Name</th>
            <th colspan="100">Description</th>
        </tr>
        </thead>
        <tbody id="pending-list">

        {% for task in tasks %}
        {% if task.status == TaskStatus::Pending %}
        {% include "task.html" %}
        {% endif %}
        {% endfor %}

        </tbody>
    </table>

    <table><caption>Completed Tasks</caption>
        <thead>
        <tr>
            <th>Task Name</th>
            <th colspan="100">Description</th>
        </tr>
        </thead>
        <tbody id="completed-list">

        {% for task in tasks %}
        {% if task.status == TaskStatus::Completed %}
        {% include "task.html" %}
        {% endif %}
        {% endfor %}

        </tbody>
    </table>

</div>